/* PC */
@media (min-width: 1024px) {
    /* Base */
    .col-pc {
        height: 340px;
        width: 20%;
        height: 100%;
        margin: 12px 0;
        padding: 0 8px;
    }

    
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 740px) {
    .col-tablet {
        height: 340px;
        width: calc(100% / 3);
        height: 100%;
        margin: 12px 0;
        padding: 0 8px;
    }

    /* Display: none */
    .header__navbar,
    .container .container__filter {
        display: none;
    }

    /* === Header === */
    .header {
        display: flex;
        align-items: center;
        height: 80px;
    }

    .header .header__searchbar .searchbar__search-box {
        margin-left: 24px;
        width: 1000px;
    }

    .sort-option {
        padding: 0 12px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    /* Base */
    .col-mobile {
        height: 340px;
        width: 50%;
        height: 100%;
        margin: 12px 0;
        padding: 0 8px;
    }

    .subnav-layout::after {
        display: none;
    }


    /* Display: none */
    .header .header__navbar,
    .header .searchbar__logo,
    .container .container__filter {
        display: none;
    }


    /* === Header === */
    .header {
        display: flex;
        align-items: center;
        height: 80px;
    }

    .header .header__searchbar .searchbar__search-box {
        margin-left: 24px;
        width: 500px;
    }

    .header__searchbar .searchbar__cart {
        width: 80px;
    }

    .header__searchbar .searchbar__cart .cart-info {
        width: 300px;
    }

    /* === Container === */
    .content__sort-bar {
        padding: 0;
        height: 32px;
    }

    .content__sort-bar .sort-bar__label,
    .sort-by-price,
    .sort-bar__page-controller {
        display: none;
    }

    .sort-option-list {
        display: flex;
        justify-content: space-evenly;
    }

    .sort-option,
    .sort-by-price-mobile {
        margin: 0;
        padding: 0 12px;
        display: flex;
    }

    .sort-by-price-mobile .sort-by-price--choose-list {
        width: 300%;
        right: 0;
        text-align: center;
    }
    
    .sort-by-price-mobile .sort-by-price--choose-list li {
        padding: 0;
    }

    .sort-option-list .sort-option:hover,
    .sort-option-list .sort-by-price-mobile:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
}

    .sort-by-price .sort-by-price__icon {
        display: none;
    }
}